.fondo{
    background-image: url('mascotas-a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.bordee{
    border: 10px solid aqua;
    border-radius: 10pc;
}